body {
    margin:0px;
    padding:0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:cornflowerblue;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    width: 30%;
    background-color: cornsilk;
    margin:10px;
    border: cornflowerblue 2px solid;
    border-radius: 5px;
    padding: 5px;
}